<div class="container mt-5">
  <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-4">
      <h2 class="bg-light mb-4 text-center">新規会員登録</h2>
    </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-12">
      <%= form_with model: @customer, url: customer_registration_path, id: 'new_customer', class: 'new_customer', local: true do |f| %>
      <%= render "customers/shared/error_messages", resource: resource %>
      <div class="table-responsive">
        <table class="table table-borderless mt-5 text-nowrap">
          <tr>
            <td>氏名</td>
            <td><%= f.label "(姓)" %></td>
            <td><%= f.text_field :last_name, autofocus: true %></td>
              <td><%= f.label "(名)" %></td>
              <td><%= f.text_field :first_name, autofocus: true %></td>
          </tr>
          <tr>
            <td>フリガナ</td>
            <td><%= f.label "(セイ)" %></td>
              <td><%= f.text_field :kana_last_name, autofocus: true %></td>
              <td><%= f.label "(メイ)" %></td>
              <td><%= f.text_field :kana_first_name, autofocus: true %></td>
          </tr>
          <tr>
            <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
            <td><%= f.label "郵便番号(ハイフンなし)" %></td>
            </div>
            <td></td>
            <div class="colcol-xs-6 col-sm-4 col-md-4">
            <td colspan="3"><%= f.text_field :postal_code, autofocus: true %></td>
            </div>
            </div>
          </tr>
          <tr>
            <td><%= f.label "住所","",style: "width: 12vw;" %></td>
            <td></td>
            <td colspan="3"><%= f.text_field :address, autofocus: true, size: 50 %></td>
          </tr>
          <tr>
            <td><%= f.label "電話番号(ハイフンなし)","",style: "width: 15vw;" %></td>
            <td></td>
            <td colspan="3"><%= f.text_field :phone_number, autofocus: true, size: 35 %></td>
          </tr>
          <tr>
            <td><%= f.label "メールアドレス","",style: "width:12vw;" %></td>
            <td></td>
            <td colspan="3"><%= f.email_field :email, autofocus: true, autocomplete: "email", size: 35 %></td>
          </tr>
          <tr>
            <td>
              <%= f.label "パスワード(6文字以上)","",style: "width: 12vw;" %></td>
            <td></td>
            <td colspan="3">
              <% if @minimum_password_length %>
              <% end %>
              <%= f.password_field :password, autocomplete: "new-password", size: 35 %>
            </td>
          </tr>
          <tr>
            <td>
              <%= f.label "パスワード(確認用)","",style: "width: 12vw;" %>
            </td>
            <td></td>
            <td colspan="3">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", size: 35 %>
            </td>
          </tr>
        </table>
        <table class="table table-borderless mt-5 text-nowrap">
          <td></td>
          <td></td>
          <td></td>
          <td><%= f.submit "新規登録", class: "btn btn-success" %></td>
        </table>
        </div>
        <% end %>
        <h5 class="col-xs-7 col-sm-4 col-md-4 bg-light mt-5">すでに登録済みの方</h5>
        <p class="col-xs-8 col-sm-4 col-md-5 text-center"><%= link_to "こちら", new_customer_session_path %>からログインしてください。</p>
      </div>
    </div>
  </div>