<div class="container mt-5">
  <div class="row">
    <!--genre検索部分テンプレート-->
    <%= render 'layouts/genre_search', genres: @genres %> 
    <div class="col-10">
      <div class="mx-auto">
        <div class="main mt-5">
          <p class="main-visual-text">
            ようこそ、ながのCAKEへ！
            <br>このサイトは、ケーキ販売のECサイトになります。
            <br>会員でない方も商品の閲覧はできますが、
            <br>購入には会員登録が必要になります。
          </p>
        </div>
      </div>
    <!--新着商品表示-->
  
      <h2 class="new-commodities py-5">新着商品</h2>
      <div class="row">
        <% @commodities.each do |commodity| %>
          <div class="col-md-3">
            <div class="step-img1">
              <%= link_to commodity_path(commodity.id) do %>
                <%= attachment_image_tag commodity, :image, size: '200x150', format: 'jpg' %>
              <% end %>
            </div>
            <%= commodity.name %>
            <br>¥ <%= commodity.non_taxed_price %>
          </div>
        <% end %>
      </div>
      <div class="text-right">
        <%= link_to "全ての商品を見る>", commodities_path %>
      </div>
    </div>
  </div>
</div>