<h1><%= @customer.name %>さんの会員情報編集</h1>
  会員ID
<%= @customer.id %>
  <%= form_with model: @customer, url: admin_customer_path(@customer.id), local:true do |f| %>
      <div class="form-group">
        <label for="customer.name">氏名</label>
        <%= f.text_field :last_name, class:"customer.name" %><%= f.text_field :first_name %>
      </div>
      <label for="customer.kana_name">氏名</label>
        <%= f.text_field :kana_last_name, class:"customer.kana_name" %><%= f.text_field :kana_first_name %>
      </div>
      <div class="form-group">
        <label for="customer.postal_code">郵便番号</label>
          <%= f.text_field :postal_code %>
      </div>
      <div class="form-group">
        <label for="customer.address">住所</label>
          <%= f.text_field :address %>
      </div>
      <div class="form-group">
        <label for="customer.postal_code">電話番号</label>
          <%= f.text_field :phone_number %>
      </div>
      <div class="form-group">
        <label for="customer.email">メールアドレス</label>
          <%= f.text_field :phone_number %>
      </div>
      <div class="form-group">
        <label for="customer.is_deleted">会員ステータス</label>
          <%= f.radio_button :is_deleted, :有効 %>
          <%= f.label :is_deleted_false, '有効' %>
          <%= f.radio_button :is_deleted, :退会 %>
          <%= f.label :is_deleted_true, '退会' %>
      </div>
      <%= f.submit "変更を保存", class:"btn btn-success" %>
      <% end %>
