<h1><%= @customer.name %>さんの会員詳細</h1>
<table>
  <tr>
    <th>会員ID</th>
    <th><%= @customer.id %></th>
  </tr>
  <tr>
    <th>氏名</th>
    <th><%= @customer.name %></th>
  </tr>
  <tr>
    <th>フリガナ</th>
    <th><%= @customer.kana_name %></th>
  </tr>
  <tr>
    <th>郵便番号</th>
    <th><%= @customer.postal_code %></th>
  </tr>
  <tr>
    <th>住所</th>
    <th><%= @customer.address %></th>
  </tr>
  <tr>
    <th>電話番号</th>
    <th><%= @customer.phone_number %></th>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <th><%= @customer.email %></th>
  </tr>
  <tr>
    <th>会員ステータス</th>
    <th><%= @customer.is_deleted %></th>
  </tr>
</table>
