<div class="container">
  <h5>ジャンル編集</h5>
  <% if @genre.errors.any? %>
    <%= @genre.errors.count %>件のエラーが発生しました
    <% @genre.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>
  <div class="row">
    <%= form_with url:admin_genre_path, model:@genre, local:true do |f| %>
      <div class="form-group">
        <table>
          <tr>
            <th><%= f.label :name, "ジャンル名" %></th>
            <th><%= f.text_field :name %></th>
            <th><%= f.submit "変更を保存", class: "btn btn-sm btn-success" %></th>
          </tr>
        </table>
      </div>
    <% end %>
  </div>
</div>
