<div class="container">
  <div class="row">
    <div class="col-3 text-center">
      <h5 class="bg-light"> ショッピングカート </h5>
    </div>
     <div class="col-9">
      <h5 class="text-right">
        <%= link_to "カートを空にする", cart_items_path(@cart_items), method: :delete, "data-confirm" => "本当にカートを空にしてよろしいですか？", class: "btn btn-danger" %>
      </h5>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-12">
      <table class="table table-bordered">

        <thead class="thead-light">
          <tr>
            <th class="col-4">商品名</th>
            <th class="col-2">単価(税込)</th>
            <th class="col-2">数量</th>
            <th class="col-2">小計</th>
            <th class="col-2"></th>
          </tr>
        </thead>

        <tbody>
          <% @cart_items.each do |e| %>
          <tr>
            <td>
              <%= attachment_image_tag e.commodity,  :image, format: 'jpeg', size: "70x52" %>
              <%= e.commodity.name %>
            </td>
            <td><%= e.commodity.add_tax_sales_price.to_s(:delimited) %></td>
            <td>
              <%= form_with model: e, url: cart_item_path(e), local:true do |f| %>
                <%= f.number_field :quantity, min: 1, max: 100 %>
                <%= f.submit "変更", class: "btn btn-success" %>
              <% end %>
            </td>
            <td><%= e.sum_of_price.to_s(:delimited) %></td>
            <td>
              <%= link_to "削除する", cart_item_path(e), method: :delete, "data-confirm" => "本当に削除してよろしいですか？", class: "btn btn-danger" %>
            </td>
          </tr>
           <% end %>
        </tbody>
      </table>
    </div>
  </div>

    <div class="row mt-2">
      <div class="col-8"></div>
       <div class="col-4">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th class="cart_price col-2"> 合計金額 </th>
              <th class="col-2"> <%= @total.round.to_s(:delimited)%> </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div>
      <%= link_to '買い物を続ける', commodities_path, class: "btn btn-primary" %>
    </div>
    <div class="text-center">
      <%= link_to '情報入力に進む', "/orders/new" , class: "btn btn-success" %>
    </div>

</div>
