<div class='container'>
  <h2>商品詳細</h2>
  <div class='row'>
    <div class='col-md-5'>
     <%= attachment_image_tag @commodity,  :image, format: 'jpeg', size: "224x168" %>
    </div>
    <div class='col-md-6'>
      <table class='table'>
        <tr>
          <th> 商品名 </th>
          <td><%= @commodity.name %></td>
        </tr>
        <tr>
          <td> 商品説明 </td>
          <td><%= @commodity.opinion %></td>
        </tr>
        <tr>
          <td> ジャンル </td>
          <td><%= @commodity.genre.name %></td>
        </tr>
        <tr>
          <td> 販売価格 </td>
          <td><%= @commodity.non_taxed_price.to_s(:delimited) %> 円 </td>
        </tr>
        <tr>
          <td> 販売ステータス </td>
          <td><%= @commodity.sale_status %></td>
        </tr>
        <tr>
          <td><%= link_to '編集する', edit_admin_commodity_path(@commodity.id), class: "btn btn-sm btn-success edit_commodity_#{@commodity.id}" %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
