<div class="container">
  <div class="row">
      <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
        <div class="mt-5">
          <h2 class="text-center">ログイン</h2>
        </div>
      <div class="mt-5">
        <p class="text-center">会員の方はこちらからログイン</p>
      </div>
      <div class="mt-5">
        <div class="row">
          <div class="col">
          <%= form_with model: @customer, url: customer_session_path, local: true do |f| %>
            <%= f.label :メールアドレス,"",style: "width:200px;" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email",  size: 40 %>
            
            <div class="mt-3">
              <%= f.label :パスワード,"",style: "width:200px" %>
              <%= f.password_field :password, autocomplete: "current-password",  size: 40 %>
            </div>

            <div class="actions">
              <div class="mt-5 text-center">
                <%= f.submit "ログイン", class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <p class="text-center mt-5">会員登録がお済みでない方</p>
    <p class="text-center"><%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください。</p>

    </div>
  </div>
</div>