<div class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-4 text-center">
      <h5 class="bg-light mb-4">注文確認画面</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <% if @cart_items.count == 0 %>
        <p class="m-5"><strong>カート内に商品がありません</strong></p>
      <% else %>
      <table class="table table-bordered">
        <tbody>
          <tr class="table-info">
            <td scope="col">商品名</td>
            <td scope="col">単価</td>
            <td scope="col">数量</td>
            <td scope="col">小計</td>
          </tr>
          <% @cart_items.each do |cart_item| %>
          <tr>
            <td>
              <%= attachment_image_tag cart_item.commodity, :image, format: 'jpeg', size: "70x52" %>
              <%= cart_item.commodity.name %>
            </td>
            <td><%= cart_item.commodity.add_tax_sales_price.to_s(:delimited) %></td>
            <td><%= cart_item.quantity %></td>
            <td><%= cart_item.sum_of_price.to_s(:delimited) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <% end %>
    </div>
    <div class="col-4">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="table-info" scope="row">送料</td>
            <td scope="col"><%= now_freight %></td>
          </tr>
          <tr>
            <td class="table-info" scope="row">商品合計</td>
            <td><%= @total.round.to_s(:delimited)%></td>
          </tr>
          <tr>
            <td class="table-info" scope="row">請求金額</td>
            <td><%= (@total.round.to_i + now_freight.to_i).to_s(:delimited) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
  　<div class="col">
  　   <h5><strong>支払方法</strong></h5>
        <%= @order.payment %>
      <h5 class="mt-3"><strong>お届け先</strong></h5>
        〒<%= @order.order_destination_set %>
        <%= @order.destination_name %>
  　</div>
  </div>
  <div class="row">
    <div class="col">
      <%= form_with model: @order, local: true do |f| %>
        <%= f.hidden_field :destination_postal_code, :value => @order.destination_postal_code %>
        <%= f.hidden_field :destination_address, :value => @order.destination_address %>
        <%= f.hidden_field :destination_name, :value => @order.destination_name %>
        <%= f.hidden_field :payment, :value => @order.payment %>
        <%= f.hidden_field :sub_total, :value => @total %>
        <%= f.hidden_field :freight, :value => now_freight %>
        <%= f.hidden_field :total_due, :value => @total.round.to_i + now_freight.to_i %>
      　<div class="text-center"><%= f.submit "注文を確定する", class: "btn btn-primary" %></div>
      <% end %>
    </div>
  </div>
</div>