<div class='container py-5'>
  <div class='row'>
    <div class='col-md-2'>
      <div class="genre">
        <h5>ジャンル検索</h5>
      </div>
    </div>
    <div class='col-md-10 mt-4 m-auto'>
      <h2>商品一覧 (全 <%= @commodities.count %> 件)</h2>
      <div class='commodity d-flex flex-wrap'>
        <% @commodities.each do |commodity| %>
          <div class='commodity-image mt-4 mr-auto'>
            <%= link_to commodity_path(commodity.id) do %>
             <%= attachment_image_tag commodity, :image, :fill, 200, 150 %>
            <% end %>
            <p class="mt-2 mb-2"><%= commodity.name %></p>
            <p>￥<%= commodity.non_taxed_price %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>