<div class='container'>
  <div class='row'>
    <%= render 'layouts/genre_search', genres: @genres %>
    <%= attachment_image_tag @commodity,  :image, format: 'jpeg', size: "260x195" %>

    <div class='col-6'>
      <div class="col-6 commodity_name">
         <%= @commodity.name %>
      </div>
      <div class="col-6 commodity_opinion">
         <%= @commodity.opinion %>
      </div>
      <div class="col-6 commodity_price">
        ¥<%= @commodity.add_tax_sales_price.to_s(:delimited) %>
        <span class="price"> (税込) </span>
      </div>
      <div class="col-8">
        <%= form_with model: @cart_item, url: cart_items_path, local: true do |f| %>
          <%= f.hidden_field :commodity_id, value: @commodity.id %>
          <%= f.number_field :quantity, min: 1, max: 100, include_blank: "個数選択"  %>
          <%= f.submit "カートに入れる", class: "btn btn-success col-5 " %>
        <% end %>
      </div>
    </div>

  </div>
</div>