<div class='container'>
  <div class='row'>
    <%= render 'layouts/errors', obj: @commodity %>
    <%= render 'layouts/genre_search', genres: @genres %>
    <div class='col-md-5 col-xs-5'>
        <%= attachment_image_tag @commodity,  :image, format: 'jpeg', class: "img-fluid"%>
    </div>
    <div class='col-md-5 col-xs-5'>
      <div class="commodity_name">
         <%= @commodity.name %>
      </div>
      <div class="commodity_opinion">
         <%= @commodity.opinion %>
      </div>
      <div class="commodity_price">
        ¥<%= @commodity.add_tax_sales_price.to_s(:delimited) %>
        <span class="price"> (税込) </span>
      </div>
      <span class="number"> <%= flash.now[:alert] %> </span>
      <%= form_with model: @cart_item, url: cart_items_path, local: true do |f| %>
        <%= f.hidden_field :commodity_id, value: @commodity.id %>
        <%= f.number_field :quantity, min: 1, max: 100, include_blank: "個数選択"  %>
        <%= f.submit "カートに入れる", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
